@import "./normalize.min.css";

* { 
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none
}

html {
  color: #222;

}

@font-face {
  --font-face: 'ArialMT';
  src: url(../02587_ARIALMT.ttf)
}

body {
  background-image: url(../img/background.svg);
  font-family: var(--font-face)
}


.header_background {
  background-image: url(../img/2-layers.svg);
  position: absolute;
  width: 100%;
  height: 30%;
  z-index: -2;
}

.header_background_world_map {
  background: url(../img/world_map.svg) no-repeat top center;
  margin: 0 auto;
  height: 100%;
  z-index: -1;
  filter: opacity(5%);
}

.header_background_world_map:after {
  content: '';
  width: 100%;
  height: 400px;
  display: block;
  background: linear-gradient(0deg, #fefefe 50%, rgba(0,212,255,0) 100%);
}

.header_main {
  max-width: 980px;
  margin: 0 auto;
  padding-top: 37px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 37px;
}

.logoPic {
  max-width: 18%;
}

.navbarContainer {
  display: flex;
  padding-right: 9px;
  font-size: 13px;
  z-index: 2;
}

.navbar {
  display: flex;
  align-items: center;
  letter-spacing: -0.51px;
  font-weight: 400;
}

.navbar_items{
  list-style-type: none;
  padding-right: 26px;
}

.navbar_items:hover{
  color: rgb(146, 7, 7);
  cursor: pointer;
  
}

.navbar_items__first_dropdown {
  display: none;
  position: absolute;
  width: 145px;
  height: 94px;
  left: -77%;
  text-align: start;
  top: 117%;
  list-style-type: none;
  color: #9ca0a2;
  background-image: url(../img/Shape_2.svg);
}

.navbar_items__first_dropdown__items {
  padding: 10px 0px 5.5px 7px;
  width: 93%;
  border-top: 1px solid #222223;
}

.navbar_items__first_dropdown__items:hover {
  color: rgba(255, 255, 255, 0.842)
}


.navbar_items__second_dropdown {
  display: none;
  position: absolute;
  top: 3px;
  left: 103%;
  list-style-type: none;
  padding: 0;
  color: #9ca0a2;
  background-image: url(../img/Shape_2__2.svg);
  width: 145px;
  height: 180px;
}

.navbar_items__second_dropdown__item {
  padding: 8.5px 0px 5.5px 7px;
  width: 95%;
  border-bottom: 1px solid rgba(10, 10, 10, 0.616);
}

.navbar_items__second_dropdown__item:hover {
  color: rgba(255, 255, 255, 0.842)
}

.first_trigger {
  position: relative
}

.first_trigger:hover > ul {
  display: inherit;
}

.second_trigger {
  border: none;
}

.second_trigger:hover > ul {
  display: inherit;
}

.second_trigger:hover {
  background-image: url(../img/Shape_2.svg);
  width: 141px;
}

.main {
  max-width: 980px;
  margin: 0 auto;
}

.main_banner {
  height: 130px;
  background-color: #ae3b44;
  position: relative;
  border-top: 5px solid black;
  display: flex;
}

.main_banner__picture {
  display: inline-block;
  max-height: 130px;
}

.main_banner__picture__img {
  max-height: 130px;
}

.main_banner__text_block {
  display: flex;
  height: 100%;
  padding-left: 30px;
  justify-content: space-between;
}


.main_banner__middle_block {
  font-size: 24px;
  width: 27%;
  color: #edf2f5;
  padding: 1em 0;
}

.main_banner__right_block {
  right: 0;
  color: #222222;
  font-size: 12px;
  width: 66%;
  line-height: 19px;
  padding-top: 23px;
}

.main_header_news {
  text-align: left;
  margin-bottom: 5%;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.025em;
  width: 59%;
  margin: 0;
  margin-block-end: 0;
}

.main_banner__right_block__arrows {
  text-align: end;
  color: white;
  width: 29px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 30px;
  bottom: 21px;
}

.main_container_news__main_header {
  display: flex;
  justify-content: space-between;
}

.aside {
  width: 25%;
  padding-top: 45px;
}

.aside_header {
  background-image: url(../img/lines.svg);
  padding: 10px 15px 10px 15px;
}

.aside_header__header {
  letter-spacing: -0.5px;
  font-size: 18px;
  font-weight: 400;
}

.navbar_aside {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  width: 100%;
  padding-left: 0px;
  
}

.navbar_aside ul {
  position: relative;
  z-index: -1;
}

.navbar_aside__item {
  border: 1px solid rgba(235, 235, 235, .5);
  position: relative;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 17px;
  font-size: 12px;
  border-left: none;
}

.navbar_aside li {
  position: relative;
  z-index: 100;
} 

.navbar_aside__item:hover{
  color: #ae3b44;
  cursor: pointer;
}

.navbar_aside__item__second_floor {
  position: absolute;
  list-style-type: none;
  padding-left: 0px;
  background-color: #f4f7f8;
}


.navbar_aside__item__second_floor__item {
  border: 1px solid rgba(235, 235, 235, .5);
  position: relative;
  padding-top: 16px;
  padding-bottom: 10px;
  padding-left: 37px;
  font-size: 12px;
  border-left: none;
}

.navbar_aside__item__second_floor__item:hover {
  color: #ae3b44;
  cursor: pointer;
}

.navbar_aside__item__second_floor__item__third_floor {
  list-style-type: none;
  padding-left: 0px;
  background-color: #eaeaea;
}

.navbar_aside__item__second_floor__item__third_floor__item {
  border: 1px solid #dbdbdb;
  position: relative;
  padding-top: 14px;
  padding-bottom: 10px;
  padding-left: 59px;
  font-size: 12px;
  border-left: none;
}

.navbar_aside__item__second_floor__item__third_floor__item:hover {
  color: #ae3b44;
  cursor: pointer;
}

.navbar_aside__item__arrow_end {
  position: absolute;
  right: 12px;
  top: 14px;
  color: gray;
}

.navbar_aside__item__arrow_start {
  position: absolute;
  left: 40px;
  color: gray;
}

.active {
  background-image: url(../img/Shape_3.png);
  padding-bottom: 14px;
  width: 230px;
  color: white
}

.active:hover {
  color: white
}


.main_container {
  display: flex;
  border-bottom: 1px solid rgba(235, 235, 235, .5);
}

.main_container_news {
  width: 72%;
  padding-left: 3.6%;
  padding-top: 3.2%;
  border-left: 1px solid rgba(235, 235, 235, .5)
}

.main_header_news__date {
  background-image: url(../img/lines.svg);
  width: 79px;
  height: 69px;
  padding-bottom: 13px;
  font-size: 17px;
  color: #3c3c3c;
}

.main_header_news__date__text {
  text-align: center;
  padding-top: 21px;
  opacity: 0.4;
  font-weight: 400;
}

.main_header_news__date__month {
  font-size: 10px;
  padding-top: 5px;
}

.main_container_grey_text {
  text-align: justify;
  font-style: italic;
  color: #909293;
  line-height: 21px;
  font-size: 15px;
  border-top: 1px solid rgba(235, 235, 235, .5);
  border-bottom: 1px solid rgba(235, 235, 235, .5);
  padding-top: 2.5%;
  padding-bottom: 4.5%;
  padding-right: 4%;
}

.paragraph_with_header h5 {
  color: #ae3b44;
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 3%;
}

.paragraph_with_header {
  font-size: 12px;
  line-height: 19px;
  text-align: justify;
  padding-top: 3.2%;
  padding-right: 4%;
  letter-spacing: -0.025em;
}

.img_layer13div {
  padding: 5.3% 6% 5.3% 0;
}

.img_layer13div img {
  display: block;
  margin: 0 auto;
  max-width: 490px;
  max-height: 290px;
}

.img_layer13div p {
  height: 10px;
  opacity: 0.5;
  color: #3c3c3c;
  text-align: center;
  margin: 1% 0 0 0;
  font-size: 11px;
}

.layer14 {
  float: left;
  margin: 5% 5% 5% 0
}

.second_paragraph {
  font-size: 12px;
  border-bottom: 1px solid rgba(235, 235, 235, .5);
  padding-bottom: 4.5%;
  line-height: 19px;
  padding-right: 21px;
  text-align: justify;
}

.second_paragraph__with_image {
  padding-bottom: 19px;
}


.third_paragraph {
  font-size: 12px;
  line-height: 19px;
  text-align: justify;
  padding-top: 3.2%;
  padding-right: 4%;
  letter-spacing: -0.025em;
  padding-bottom: 3.1%;
}

.third_paragraph__first_part {
  padding-bottom: 3%;
}

.third_paragraph h5 {
  color: #ae3b44;
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 3%;
}

.navigation_bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(235, 235, 235, .5);
  padding-top: 3.7%;
  padding-bottom: 3.6%;
}

.arrow_left, .arrow_right {
  text-decoration: none;
}

.navigation_bottom_text {
  font-size: 15px;
  color: #ae3b44;
  font-weight: 400;
  letter-spacing: -0.15px;
  
}

.navigation_bottom_text_left {
  padding-left: 15px;
}

.navigation_bottom_text_right {
  padding-right: 15px;
}


.clients_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.1%;
  padding-left: 27px;
  padding-right: 44px;
  padding-bottom: 2.3%;
}

.clients_logo_pics {
  filter: grayscale(1);
  max-width: 12%;
}

.clients_logo_pics:hover {
  filter: grayscale(0)
}

.footer_main {
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: rgba(57, 57, 57, 0.302);
  font-size: 12px;
  padding-top: 32px;
  padding-left: 39px
}

.footer_header {
  font-size: 15px;
  opacity: 0.5;
  color: #393939;
  font-weight: 400;
  letter-spacing: -0.1px;
  margin-bottom: 25px;
}

.footer_left_part_columns {
  display: flex;
  justify-content: space-between;
}

.footer {
  background-image: url(../img/footer.svg);
  height: 183px;
}

.footer_social_media_icon {
  filter: grayscale(1);
  padding-right: 2px;
}

.footer_social_media_icon:hover {
  filter: grayscale(0);
  cursor: pointer;
}

.footer_left_part {
  width: 39.5%;
}

.footer_center_part {
  width: 16%;
}

.footer_right_part {
  width: 24%;
}

.footer_right_part__logos {
  margin-bottom: 8%;
}

.footer_main__item {
  padding-top: 5px;
  color: #393939;
  opacity: 0.5;
}

.footer_main__item:hover {
  opacity: 0.8;
}
